active@charset "utf-8";
html,body{ font:12px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun'; color:#333;   -webkit-text-size-adjust:none;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#e50112; text-decoration:none;}
ul {
    list-style: none;
}
/*头部*/
.inner{ }
header{ background:#013d97; zoom:1}
#web_logo{ margin-left:10px; font-size:0px; position:relative; z-index:999; }
.top-nav{ color:#fff; position:absolute; right:5px; top:8px; height:77px; z-index:1; text-align:right; width:100%;}
.top-nav a{ color:#fff;}
.top-nav a:hover{ color:#fff;}
.top-nav li.b{ position:absolute; bottom:0px; right:0px;}
.top-nav li.t span{ padding:0px 5px; font-size:10px; color:#bbb;}
.top-logo{ min-height:90px; _height:90px;}
nav{ height:40px; overflow:hidden;}
nav ul li{ float:left; text-align:center; height:40px; line-height:40px; overflow:hidden; background:#007ac7 url(../dt-3.gif) repeat-x; }
.nav ul li a{ color:#fff; font-size:14px;}
.nav ul li a:hover{ color:#fff;}
.nav ul li.line{ width:0px; height:40px; padding:0px; border-left:1px solid #0073bc; border-right:1px solid #0389de;}
.nav ul li:hover,.nav ul li.navdown{ width:142px; background:url(../index/hon.jpg) repeat-x;}
nav ul li.hover a,nav ul li.navdown a{ color:#444;}
nav ul li.hover a:hover,nav ul li.navdown a:hover{ color:#444;}
.met_flash{  font-size:0px; overflow:hidden;} 
.met_flash ul{ margin:0px; padding:0px;} 

.searchgo1{
  width: 36px;  
  margin-left: 3px;
  height: 32px;
  line-height: 20px;
  border: 0px none;
  float: left;
  background:url(../index/bs.gif) ;
}

/*首页*/
.aboutus{ float:left; width:675px; margin-top:10px;}
.case{ float:right; width:290px; margin-top:10px; overflow:hidden;}
.style-1 h3.title span{ float:left; background:url(../dt-5.gif) repeat-x; height:32px; line-height:32px; padding:0px 25px; color:#fff; font-weight:normal; font-size:14px;}
.style-1 h3.title  a.more{ float:right; width:39px; height:11px; line-height:1000px; overflow:hidden; background:url(../more.gif); margin:10px 10px 0px 0px;}
.style-1 .active{ background:#fff; padding:10px;}
.style-2 h3.title { background:url(../dt-6.gif) repeat-x; height:32px; line-height:32px; padding-left:15px; color:#fff; font-weight:normal; font-size:14px; position:relative;}
.style-2 h3.title a.more{ position:absolute; right:10px; top:0px; color:#fff; font-size:12px;}
.style-2 .active{ background:#fff; padding:10px;}
.style-2 dl.ind{ clear:both; zoom:1}
.style-2 dl.ind dt{ float:left; display:inline; border-bottom:1px dotted #ccc; padding:10px 0px 10px 0px; zoom:1}
.style-2 dl.ind dt a{ margin-left:5px;}
.style-2 dl.ind dd{ float:right; display:inline; border-bottom:1px dotted #ccc; padding:10px 0px 10px 0px; overflow:hidden;}
.style-2 dl.ind dd h4{ margin-left:10px;}
.style-2 dl.ind dd p.desc{ margin-left:10px; font-style: italic; color:#666;}
.index-news{ float:left; width:330px; margin-right:15px; margin-top:15px;}
.listel li{ margin:0px 5px; height:30px; line-height:30px; overflow:hidden; padding-left:13px; background:url(../dt-1.gif) no-repeat left 12px; }
.listel li a{ margin-right:5px; zoom:1;}
.listel li span{ float:right; color:#666;}
.index-conts{ float:right; width:290px; margin-top:15px;}
.index-product{ padding-top:15px; *margin-top:15px; *padding-top:0px;}
.index-product .profld{ margin:0px; position:relative; overflow:hidden;}
.index-product h3 span{ float:left; }
.index-product ol{ position: absolute; width: 2012em; }
.index-product ol li{ float:left; text-align:center; }
.index-product ol li a.img{ display:block; text-align:center; font-size:0px;}
.index-product ol li a.img img{ margin:auto; border:1px solid #d6d6d6;}
.index-product ol li h3{ font-weight:normal; margin-top:5px; height:20px; line-height:20px; overflow:hidden;}
.index-product .flip{ height:20px; overflow:hidden; margin:8px 15px 0px; float:left; }
* html .index-product .flip{ width:300px;}
*+html .index-product .flip{ width:300px;}
.index-product .next,.index-product .prev{ width:18px; height:18px; overflow:hidden; display:block; float:left; background:url(../neu.gif) no-repeat;}
.index-product .next{ background-position:-17px 0px; }
.index-product .next:hover{ background-position:-57px 0px; }
.index-product .prev{ background-position:-40px 0px; }
.index-product .prev:hover{ background-position:0px 0px; }
#trigger{ float:left; margin-right:5px; margin-top:0px; position:relative; bottom:8px; *bottom:0px; *top:5px; zoom:1;}
#trigger a{ background:url(../neu.gif) no-repeat -78px -10px; width:8px; height:8px; font-size:0px; display:inline-block; overflow:hidden; margin-right:5px;}
#trigger a.current{ background-position:-78px 0px;}

#tabs-nav{ float:left;text-align: center; margin-left:15px;}
#tabs-nav li {margin: 0 4px; display: inline-block; zoom: 1; *display:inline; position:relative; *top:12px;}
#tabs-nav li a {width: 8px; height: 8px; display: block; overflow:hidden; background:#9df0f5; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;}
#tabs-nav li a:hover { background:#fff; }
#tabs-nav li a.flex-active{ background:#fff; cursor: default; }
.index-links{ background:#fff; padding:5px 15px 10px; margin-top:15px; position:relative;}
.index-links h3{ height:32px; line-height:32px; padding-left:20px; background:url(../dt-2.gif) no-repeat left center; font-weight:normal; font-size:14px; position:relative; border-bottom:1px dotted #ccc; margin-bottom:10px;}
.index-links h3 a.more{ position:absolute; right:10px; top:0px; color:#666; font-size:12px;}
.index-links ul{ margin:0px; padding:0px;}
.index-links .img{ margin-bottom:3px;}
.index-links .img li{ list-style:none; display:inline; padding-right:5px;}
.index-links .img img{ width:88px; height:31px;}
.index-links .txt{ zoom:1;}
.index-links .txt li{ list-style:none; float:left; width:88px; height:20px; line-height:20px; margin-right:5px; overflow:hidden;}

/*底部*/
.foot-nav{ text-align:center; margin-top:10px; height:25px; line-height:25px;}
.foot-nav span{ font-size:10px; margin:0px 8px; color:#888;}
.foot-text{ text-align:center; padding:0px 0px 5px; }

/*内页侧栏*/
.sidebar{ width: 980px; margin: 30px auto;}
.sidebar .sb_nav{ float:left; width:230px;}
.sidebar .sb_nav h3.title{ text-align:left; background:url(../dt-6.gif) repeat-x; padding:0px 15px; height:40px; line-height:40px;  font-size:18px; color:#fff; font-weight:bold;}
.sidebar .sb_nav h3.line{ margin-top:20px; }
.sidebar .sb_nav .active{ padding:10px 15px; background:#fff; border: 1px #ddd solid;}
#sidebar dl{ margin-left:5px;}
#sidebar dl dt{ padding:4px 0px 5px 15px; margin-top:5px; background:url(../dt-11.gif) no-repeat 2px 11px;}
#sidebar dl dd{ padding:0px 0px 0px 15px;}
#sidebar dl dt.on a{ font-weight:bold; color:#1C57C4; }
#sidebar dl h4.on a{ font-weight:bold;}
.sidebar .sb_box{ float:right; width:730px; background:#fff; overflow:hidden;    border: 1px #ddd solid; }
.sidebar .sb_box h3.title{ border-bottom:1px solid #ddd; background:#f8f8f8; color:#009b4d; height:35px; line-height:35px; position:relative;}
.sidebar .sb_box h3.title span{ position:absolute; left:0px; top:-1px; font-size:14px; border-bottom:2px solid #009b4d; padding:0px 15px;}
.sidebar .sb_box h3.title div.position{ float:right; font-weight:normal; position:relative; top:3px; right:15px;}
.sidebar .sb_box h3.title div.position a{ color:#1C57C4;}

/*广告*/
#ggao{ width:100%; margin:0 auto; height:214px; overflow: hidden;}



/*style*/

.top ul,.logo,.nav,.search,#main,.product{width:980px;margin:0 auto;overflow: hidden;}
.top{ overflow: hidden; background:#f0f0f0; height: 30px;line-height: 30px;}
.top ul li{float: left;color: #333}
.top ul li.float_r{float: right;}
.top ul li.float_r div{   padding:0px 20px 0px 20px;}
.top ul li div a{color: #333;}
.logo_nav{width: 100%;overflow: hidden; height:200px;}
.logo {padding: 15px 0;overflow: hidden;}
.logo  li,.nav li{float: left;}
.logo  li.float_r{float: right;}
.logo  li p{background:url(../index/h3.jpg) no-repeat center left;line-height: 120px;height: 120px;padding-left: 70px;font-size: 14px;}
.logo  li p span{color: #F35923;font-size: 25px;font-family: 'Impact'}
.navbg{background:url(../index/dbg.jpg)};
.nav{ height: 48px;overflow: hidden;width: 980px; }
.nav li{ line-height:48px;    width: 142px;}
.nav li a{ font-weight: bold;cursor: pointer; width:100%; text-align:center; height: 48px;display: block;}
.nav li.nav_li a{background: none;}
.nav li a.on{display: block;color: #333;}
.nav li a:hover{}
.searchbg{border-top:1px #ddd solid;border-bottom:1px #ddd solid;}
.search{line-height: 45px;}
.search .navsearch_input{background:#f6f6f6; height:32px; line-height:32px; border:0px; float:left; outline:0px; width:180px; padding-left:5px;}
.search p{float: left;}
.search p b{ color:#034091; font-size:16px;}
.search p a{margin-right: 12px; }
.search div{float: right;margin-top: 10px;}
.search div .input1{line-height: 25px;height: 25px;width:180px; text-indent:10px;color: #888;display: block;float: left;vertical-align: middle;border:1px solid #ccc;border-right:0;}
.search div .input2{height: 27px;line-height: 27px;width: 60px;background: #F35923;color: #fff;display: block;float: left;border: none;}


 /*editor正文部分样式*/
.editor{ line-height:1.5;}
.editor ul,.editor ol{ padding-left:30px;}
.editor p{ margin-bottom:8px;}
/*自定义类*/
.clear{ clear:both;height:0px;} 
.floatl{float:left;}
.floatr{float:right;}
.block{ display:block;}
.list-none1{ list-style:none;}
.sb_nav .list-none { line-height: 45px;border-bottom:1px #CCCCCC dashed;  font-size:14px; background: url(../index/ico10.jpg) no-repeat 15px center; padding-left: 40px; 
 border-bottom: 1px #ddd solid;}
.sb_nav .list-none:hover { line-height: 45px;border-bottom:1px #CCCCCC dashed;  font-size:14px; background:url(../index/nybj.jpg) no-repeat; padding-left: 40px; 
 border-bottom: 1px #ddd solid;}



.hover-none:hover{ text-decoration:none;}
.metwd100{ width:100%!important;}
input.input-text,textarea.textarea-text{ background:#fff; color:#333; border:1px solid #eee; border-top-color:#999; border-left-color:#999; padding:1px; vertical-align:middle; height:18px; line-height:18px;}
textarea.textarea-text{ height:80px; line-height:1.5;}
input.submit{ height:24px\9; line-height:21px\9; font-size:12px; padding:5px 3px;}
input.reset{ height:24px\9; line-height:21px\9; font-size:12px; padding:5px 3px;}
 
/*网站底部-foot文件样式*/
#footer{ text-align:center; color:#a1a1a1; margin-top:10px;}
#footer a{ color:#a1a1a1;}
#footer .nav{ background:#ededed; margin-bottom:3px; padding:2px 0px;}
#footer .nav span{ padding:0px 6px;}
#footer .powered_by_metinfo{ line-height:1.2; font-family:arial;}
#footer .powered_by_metinfo a{ color:#4c992c;}

/*内页侧边导航-webbar文件样式*/
#web{ margin-top:10px;width:1000px; margin:20px auto; }
#web .web-left{ width:200px; overflow:hidden; }
#web .web-left h3.title{ background: #008ce4;
height: 39px;
padding: 0px 0px 6px 0px;
font: 14px "微软雅黑","宋体";
color: #fff;
line-height: 39px;
overflow: hidden;
font-weight:bold;
}
#web .web-left h3.line{ margin-top:10px;}
#web .web-left h3.title span{ float:left; margin-left:10px; border-bottom:none; min-width:60px; padding:3px 15px 0px; height:23px; text-align:center; color:#fff; font-size:13px;}
#web .web-left .box{ border:1px solid #ccc; border-top:none; padding:10px 10px 5px; color:#666; margin-bottom:10px;}
#web .web-left .navnow{ margin-bottom:8px;}
#web .web-left .navnow dt{ background:url(../index/newsx.gif) no-repeat 10px 7px; margin-bottom:5px; padding-left:18px; line-height:1.5;}
#part2_81{display:none;}
#part2_82{display:none;}
#part2_80{display:none;}
#part2_83{display:none;}
#web .web-left .navnow dt a{ padding:2px; }
#web .web-left .navnow dt a:hover a{ color:#4c992c; }
#web .web-left .navnow dd.sub{ display:none;}
#web .web-left .navnow .on a{ font-weight:bold;  }
#web .web-left .navnow dd.sub h4{ padding-left:28px; background:url(../index/dd.gif) no-repeat 22px 8px; font-size:100%; font-weight:normal;}
#web .web-left .navnow .launched{ background:url(../index/newsy.gif) no-repeat 10px 7px; }
#web #part2_66{background: #ed8000;
padding:0px 0px 0px 18px;}
#web #part2_66 a:hover{ text-decoration:none; color:#333;}

#web #part2_92{background: #ed8000;
padding:0px 0px 0px 18px;}
#web #part2_92 a:hover{ text-decoration:none; color:#333;}
/*内页列表头部-webtop文件样式*/
#web .web-right{ width:780px; overflow:hidden; margin-bottom:10px;}
#web .web-right  h3.title{ height:27px; overflow:hidden; border-bottom:3px solid #008ce4;}
#web .web-right h3.line{ margin-top:10px;}
#web .web-right h3.title span{ float:left;background:#008ce4; min-width:60px; padding:8px 15px 0px; height:23px; text-align:center; color:#fff; font-size:13px;}
#web .web-right h3.title div{ float:right; font-weight:normal; padding:5px 5px 0px; color:#999; }
#web .web-right h3.title div a{ color:#999; }
#web .webbox{ border:1px solid #ccc; border-top:none; padding:5px 10px; zoom:1; padding-bottom:0px;padding-bottom:10px; }
.webbox dt embed{ height:440px; width:738px; margin:10px 0px 20px 10px;}
.webbox p{ padding:0px 10px 0px 10px; }

/*文章模块列表页-news文件样式*/
.newslist .metlist{ padding:5px 10px;}
.newslist .metlist li{ background:url(../index/newsx.gif) no-repeat left 10px; padding-left:10px; height:25px; line-height:25px; overflow:hidden;}
.newslist .metlist li.top{ color:#f00;}
.newslist .metlist li.top a{ color:#f00;}
.newslist .metlist li span{ float:right; color:#999;}
* html .newslist .metlist li img{ padding-top:7px;}
/*-------------------*/
.shownews h1.title{ padding:2px; border-bottom:1px dotted #ccc; color:#4c992c; text-align:center; margin-bottom:10px; font-size:150%;}
.shownews div.text{ padding:0px 5px;}


.product{ overflow: hidden;margin: 30px auto; width:980px;}
.pro_list{float: left;width: 230px;}
.pro_list h4{background: url(../index/lefts_nav.jpg) no-repeat center top;height: 96px;line-height:70px; text-align: center;overflow: hidden;color: #ffffff;font-weight: bold;font-size: 18px;}
.pro_list ul{background: url(../index/lefts_foot.gif) repeat-y;padding: 9px 15px; margin:0px}

.pro_list ul .title{ background:#00BF52 url(../index/jt.jpg) no-repeat 5px center; padding-left:30px; height:40px; line-height:40px; }
.pro_list ul .title:hover{ background:#007934 url(../index/jtbg.jpg) no-repeat 5px center; padding-left:30px; height:40px; line-height:40px; }
.pro_list ul .title a{ color:#fff; font-size:14px;}
.pro_list ul .tc{background: url(../index/ico1.jpg) no-repeat 15px center; padding-left:40px; height:30px; line-height:34px; border-bottom:1px #ddd solid}


.pro_list ul h3 {background:#5bc725;line-height:40px;margin: 0px 0 12px 10px;width: 190px;border-radius: 4px;}
.pro_list ul h3  a{color: #5bc725;background: url(../index/lefts_cur.jpg) no-repeat center left;margin-left: 12px;padding-left: 17px;}
.pro_list ul li{line-height:34px;margin: 0px 0 2px 25px; width: 160px;border-bottom: 1px solid #ddd; background:url(../index/ico1.jpg) no-repeat 0px 10px;padding-left: 20px;}


.pro_cont{float: right; width: 730px; border:1px solid #e9e9e8; margin-bottom:15px;}
.pro_bt{border:1px solid #e9e9e8;border-top:4px solid #009b4d;border-left: 0;overflow: hidden;line-height: 45px;padding: 0 15px;}
.pro_bt h3{float: left;font-size:16px; color:#009b4d;    font-weight: bold;}
.pro_bt h3 span{ color:#009b4d;}
.pro_bt a{float: right;cursor: pointer;display: block; padding-top:16px;}
.pro_cont ul li{ float: left; width:210px; overflow: hidden; text-align: center; margin-left:20px; height:173px;}
.pro_cont ul li img{ height:141px; border:1px #ccc solid}

.pro_cont ul li p a{ font-weight:inherit;}
.pro_list .btn{background:url(../index/lefts_btn.jpg) no-repeat; width:230px; height:6px;}

.choose{margin: 15px auto; }
.choose_bt{text-align: center;margin-bottom: 14px; background: url(../index/b1.jpg) no-repeat center; height:193px;}

.choose_div1{background: url(../index/b2.jpg) no-repeat center;height:353px;}
.choose_div2{background: url(../index/b3.jpg) no-repeat center;height:363px;}
.choose_div3{background: url(../index/b4.jpg) no-repeat center;height:374px;}
.choose_div4{background: url(../index/b5.jpg) no-repeat center;height:338px;}
 
.choose_c{ width:980px; margin:0 auto;}
.choose_cont h2{ color:#034091; padding-left: 72px;font-size: 24px;    position: relative; top: 5px;}
.choose_cont h3{ padding-left: 72px;font-size: 20px;}
  
.choose_cont p{line-height: 25px;font-size: 16px;margin-top: 15px;}
.choose_cont p span{color: #F35923;font-weight: bold;}

.choose_cont ul li{ line-height:35px; height:35px; font-size:14px;}

.choose_cont1{width: 500px; position: relative; left: 30px; top: 18px;}
.choose_cont2{ width: 500px; position: relative;    left: 660px;    top: 65px; }
.choose_cont3{width: 500px;position:relative; left:35px; top:50px;}
.choose_cont4{width: 500px; position: relative; left: 690px;    top: 35px; }

.choose_div4 .l1,.choose_div4 .l3{ line-height:25px !important;}
.choose_div4 .l2{ padding-top:17px;}

.ad{background:url(../index/ad.jpg) no-repeat ; margin:0 auto; height:161px; width:980px }

.scCont{ position:relative; width: 980px; margin: 0 auto; border:1px #ddd solid; margin-top:20px;}
.scCont .sctitle h3{ font-size:16px; color:#fff; line-height:39px; height:39px; width:140px; text-align:center;   float: left;}
.scCont .sctitle a{ float:right; height:39px; line-height:39px; padding-right:10px;}
.scCont .sctitle{background:url(../index/ih.jpg) no-repeat ; height:39px; border-bottom:1px #ddd solid;  margin-bottom:20px; clear:both}
.scCont ul{margin:0 auto; width:1000px; overflow:hidden;}
.scCont li{margin:0 8px; float:left;  text-align:center;}
.scCont li img{padding:3px; border:1px solid #796547; }
.scCont li h5{margin-top:5px; font-weight:normal;}
.scCont li h5 a{color:#666;}
.scCont .btnLeft , .scCont .btnRight{position:absolute; top:60%; margin-top:-18px; width:36px; height:36px;}
#jidi_left1,#jidi_right1{top:70%;}
#jidi_left1{  background:url(../index/left.jpg) no-repeat center;}
#jidi_right1{  background:url(../index/right.jpg) no-repeat center;}
.scCont .btnLeft{  background:url(../index/ion.jpg) no-repeat center;}
.scCont .btnRight{right:0px; background:url(../index/il.jpg) no-repeat center;}





.link_bj{ overflow:hidden;}
.link { width:980px; overflow:hidden; margin:0 auto;}
.link h4{ height:36px; padding-top:12px;   overflow:hidden;}
.link h4 i{ font-style:normal; display:inline-block; font:16px "Microsoft Yahei"; color:#666; line-height:36px; text-transform:uppercase;}
.link h4 i a{ font-size:20px; color:#009b4d; padding-right:5px;}
.link p{ line-height:26px; color:#fff; padding-top:8px;}
.link  a{ font-size:14px; color:#666;}

.foot{width:100%; padding-top:10px;}
.footbg{background:url(../index/footnav.jpg) ; width:980px; margin:0 auto; height:15px; }
.footc{width:980px; margin:0 auto; height:200px;}
.flogo{ margin-left:250px; margin-top:20px;}
.foot_nav li{ border:1px #4471ad solid; float:left;text-align:center; width:130px; line-height:35px; height:35px;}
.foot_nav li a{ color:#fff; }
.footp{ margin-left:20px;margin-top:20px; color:#fff; font-size:14px;}
.footp a{color:#034091;}
/*产品模块列表页-product文件样式*/
.productlist .metlist{ padding:5px 0px 5px 0px;}
.productlist .metlist li{ float:left; margin:0px 9px 5px 0px;}
.productlist .metlist li a.img{ display:block; font-size:0px;}
.productlist .metlist li a.img img{ border:1px solid #ddd; padding:3px;}
.productlist .metlist li h3{ font-weight:normal; text-align:center; line-height:1.5; margin-top:5px;}
/*------------------*/
.showproduct h1.title{ font-size:16px; padding:2px 0px; color:#4c992c;}
.productshow dt{ float:left; overflow:hidden; position:relative;}
.productshow dd{ float:left; width:100%; overflow:hidden;}
.productshow dd ul{ margin-left:10px; }
.productshow dd li{ list-style:none; padding:5px; border-bottom:1px dotted #ccc; }
.productshow dd li span{ color:#656565;}
.productshow dd div.text{ padding:5px; margin-left:10px; }
.productshow dt #imgqwe a{ display:block; border:1px solid #e6e6e6; padding:3px;}
.productshow dt #imgqwe a img{ }
.productshow .smallimg{ text-align:center !important; margin-top:8px;}
.productshow .smallimg span.spic{ margin:2px;}
.productshow dd .feedback{ padding:10px; }
.productshow dd .feedback a{ float:right; padding-left:8px; margin:0px auto; background:url(../index/profd.gif) no-repeat left top; overflow:hidden; }
.productshow dd .feedback a span{ display:block; padding:5px 18px 0px 10px; min-width:40px; _width:40px; text-align:center; white-space:nowrap; cursor:pointer; height:34px; background:url(../index/profd.gif) no-repeat right -39px; color:#fff; font-size:16px; font-weight:bold; }
.conttitle{ height:25px; border-bottom:2px solid #999; margin:10px 0px 5px;}
.conttitle span{ float:left; margin-left:5px; min-width:60px; padding:2px 10px 0px; height:23px; text-align:center; background:#999; color:#fff; font-size:13px;}

/*图片模块列表页-img文件样式*/
.imglist .metlist{ padding:5px 0px 5px 0px;}
.imglist .metlist li{ float:left; margin:0px 10px 5px 0px;}
.imglist .metlist li a.img{ display:block; font-size:0px;}
.imglist .metlist li a.img img{ border:1px solid #ddd; padding:3px;}
.imglist .metlist li h3{ font-weight:normal; text-align:center; line-height:1.5; margin-top:5px;}
/*--------------------------*/
.showimg h1.title{ padding:2px; text-align:center; margin-bottom:10px; font-size:15px; color:#4c992c;}
.showimg div.para{ text-align:center;}
.showimg div.text{ padding:0px 5px;}
.showimg div.metinfo_slide{ margin-left:auto; margin-right:auto;}
.showimg #imgqwe a img{ border:1px solid #e6e6e6; padding:5px;}
.showimg #imgqwe a img{ border:1px solid #e6e6e6;}
.showimg .smallimg{text-align:center !important; margin-top:8px;}
.showimg .smallimg span.spic{ margin:2px;}
.showimg span.info_select{ margin-top:8px;}
.showimg .editor{ margin-top:15px;}

/*下载模块列表页-download文件样式*/
.downloadlist .metlist{ padding:5px 0px 10px; height:48px; background:#fff;}
.downloadlist .metlist dt{ border-bottom:1px dotted #ccc; font-weight:bold; font-size:120%; padding:0px 5px 0px 18px; background:url(../index/download_ico.gif) no-repeat 3px 8px;}
.downloadlist dl.top dt a{ color:#f00;}
.downloadlist .metlist dd{ color:#666; padding:0px 8px; height:28px; line-height:28px; background:#f6f6f6;}
.downloadlist .metlist dd div{ float:right;}
.downloadlist .metlist dd span{ padding-right:20px;}
.downloadlist .metlist dd a{ font-weight:bold; color:#466A86;}
.downloadlist .metlist dd a.down{ color:#fa1a1a; text-decoration:none;}
/*--------------------------*/
.showdownload ul.Para{ list-style:none; margin-bottom:15px;}
.showdownload ul.Para li{ background:#f0f0f0; border-bottom:1px solid #fff; color:#555; height:25px; line-height:25px; overflow:hidden;}
.showdownload ul.Para li span.name{ float:left; background:#ddd; min-width:70px; padding:0px 5px; white-space:nowrap; text-align:center; border-right:1px solid #fff; margin-right:8px;}
* html .showdownload ul.Para li span.name{ width:80px; }
.showdownload ul.Para li.title h1{ font-size:14px; color:#4c992c;}
.showdownload ul.Para li a{ color:#f00; text-decoration:none;}
.showdownload div.Para .info_download{ display:block; padding:5px; }
.showdownload div.Para .info_download a{ padding:3px 8px; border:1px solid #ccc; color:#333; font-weight:bold;}

/*招聘模块列表页-job文件样式*/
.joblist .metlist{ padding:5px 0px; }
.joblist .metlist dt{ height:28px; line-height:28px; font-weight:bold; color:#666; padding-left:10px; background:#f6f6f6; border-bottom:2px solid #dedede;}
.joblist .metlist dd{ background:url(../index/job_ico.gif) no-repeat 5px 13px; border-bottom:1px dotted #dedede; padding-left:15px; height:30px; line-height:30px; overflow:hidden; color:#666;}
.joblist .metlist dd.hover{ background-color:#f6f6f6;}
.joblist .metlist dd.top{ color:#f00;}
.joblist .metlist dd.top a{ color:#f00;}
.joblist .metlist dt span,.joblist .metlist dd span{ float:right; width:100px; text-align:center; overflow:hidden; }
/*--------------------------*/
.showjob h1.title{ padding:2px; border-bottom:1px dotted #ccc; margin-bottom:10px; font-size:16px; color:#4c992c;}
.showjob div.para ul{ list-style:none; padding:0px 5px;}
.showjob div.para ul li{ float:left; width:50%; padding:3px 0px;}
.showjob div.text{ padding:0px 5px;}
.showjob .info_cv a{ float:right; padding-left:8px; margin:0px auto; background:url(../index/profd.gif) no-repeat left top; overflow:hidden; }
.showjob .info_cv a span{ display:block; padding:5px 18px 0px 10px; min-width:40px; _width:40px; text-align:center; white-space:nowrap; cursor:pointer; height:34px; background:url(../index/profd.gif) no-repeat right -39px; color:#fff; font-size:16px; font-weight:bold; }
/*------------------------*/
.cv_table{ width:100%; margin-top:10px; text-align:left;}
.cv_table td.text{ text-align:right; width:20%; height:28px; line-height:28px; padding-right:3px; font-weight:bold;}
.cv_table td.input{ padding-left:3px;}
.cv_table td.input input{ padding:2px; margin-right:5px;}
.cv_table td.input textarea{ width:80%; padding:2px; margin-right:5px; }
.cv_table td.input .info{ color:#f00; }
.cv_table td.submint{ padding:5px 0px; }
.cv_table td.submint input{ cursor:pointer;}

/*在线留言提交表单-message文件样式*/
.messagetable{ padding:0px 0px 5px;}
.messagetable .inside{ margin-bottom:5px;}
.messagetable .inside a{ float:right; padding-left:18px; background:url(../index/green/18.png) no-repeat left center; color:#4c992c;}
.message_table{ width:100%; margin-top:10px; text-align:left;}
.message_table td.text{ text-align:right; width:20%; height:28px; line-height:28px; padding-right:3px; font-weight:bold;}
.message_table td.input{ padding-left:3px;}
.message_table td.input input{ padding:2px; margin-right:5px;}
.message_table td.input textarea{ width:80%; padding:2px; margin-right:5px; }
.message_table td.input .info{ color:#f00; }
.message_table td.submint{ padding:5px 0px; }
.message_table td.submint input{ cursor:pointer;}

/*在线留言列表-message_index文件样式*/
.messagelist .inside{ margin-bottom:5px;}
.messagelist .inside a{ float:right; padding-left:18px; background:url(../index/green/18.png) no-repeat left center; color:#4c992c;}
.messagelist .metlist{ margin-bottom:10px; border:5px solid #ededed; padding:5px;}
.messagelist .metlist dt{ background:url(../index/message.gif) no-repeat left center; border-bottom:1px dotted #dedede; padding:2px 0px 2px 20px; margin-bottom:5px;}
.messagelist .metlist dt span.name{ color:#4c992c;}
.messagelist .metlist dt span.time{ padding-left:8px;}
.messagelist .metlist dt span.tt{ float:right; padding-right:5px;}
.messagelist .metlist dd.info span.tt{ display:none; clear:both;}
.messagelist .metlist dd.info span.text{ padding:5px 0px; line-height:1.5;}
.messagelist .metlist dd.reinfo{ }
.messagelist .metlist dd.reinfo span.tt{ background:url(../index/admin.gif) no-repeat left 3px; display:block; border-bottom:1px dotted #dedede; padding:2px 0px 2px 20px; margin:0px 0px 5px;}
.messagelist .metlist dd.reinfo span.text{ line-height:1.5;}

/*反馈系统提交表单-feedback文件样式*/
.feedback_table{ width:100%; margin-top:10px; text-align:left;}
.feedback_table td.text{ text-align:right; width:20%; height:28px; line-height:28px; padding-right:3px; font-weight:bold;}
.feedback_table td.input{ padding-left:3px;}
.feedback_table td.input input{ padding:2px; margin-right:5px;}
.feedback_table td.input textarea{ width:80%; padding:2px; margin-right:5px; }
.feedback_table td.input .info{ color:#f00; }
.feedback_table td.submint{ padding:5px 0px; }
.feedback_table td.submint input{ cursor:pointer;}

/*友情链接列表-link_index文件样式*/
.linklist .metlist{ padding:5px 0px 10px; }
.linklist .metlist dt{ border-bottom:2px solid #dedede; padding-left:5px; font-weight:bold; }
.linklist .metlist dd{ padding:5px;}
.linklist .metlist dd li{ display:inline; padding-right:8px;}
.linklist .metlist dd li a{ text-decoration:none;}
.linklist .metlist dd li img{ width:180px; height:60px; overflow:hidden;}

/*申请友情链接-addlink文件样式*/
.linksubmit{}
.addlink_table{ width:100%; margin-top:10px; text-align:left;}
.addlink_table td.title{ border-bottom:2px solid #dedede; font-weight:bold; text-align:right;}
.addlink_table td.text{ text-align:right; width:20%; height:28px; line-height:28px; padding-right:3px; font-weight:bold;}
.addlink_table td.input{ padding-left:3px;}
.addlink_table td.input input{ padding:2px; margin-right:5px;}
.addlink_table td.input textarea{ width:80%; padding:2px; margin-right:5px; }
.addlink_table td.input .info{ color:#f00; }
.addlink_table td.submint{ padding:5px 0px; }
.addlink_table td.submint input{ cursor:pointer;}

/*会员中心-member、login、register文件样式*/
.membernavlist li{ background:url(../index/newsx.gif) no-repeat 10px 7px; padding-left:18px; margin-bottom:6px; line-height:1.5;}
.membernavlist li a{ padding:2px; }
.membernavlist li a:hover a{ color:#4c992c; }
.membernavlist li.hover a.nav{ font-weight:bold; color:#4c992c; }

/*全站搜索-search文件样式*/
.searchnavlist li{ padding-left:10px; margin-bottom:6px; line-height:1.5;}
.searchlist{ padding:5px 0px;}
.searchlist ul{ list-style:none; }
.searchlist ul li{ border-bottom:1px dotted #ccc; padding:3px 5px;}
.searchlist ul li img{ display:none;}
.searchlist .search_title{ display:block;}
.searchlist .search_title a{ font-size:14px; font-weight:bold;}
.searchlist .search_title a:hover{ border-bottom:1px solid #f00; text-decoration:none;}
.searchlist .search_detail{ display:block; }
.searchlist .search_detail a{ text-decoration:none; color:#09f;}
.searchlist .search_updatetime{ display:block;}
.searchlist a:hover{ text-decoration:none;}

/*网站地图-sitemap文件样式*/
.sitemaplist{ padding:5px 0px;}
.sitemaplist ul li{ background:url(../index/dd.gif) no-repeat left center; padding-left:8px; line-height:1.5;}
.sitemaplist ul li span{ padding-right:10px; float:left;}
.sitemaplist .sitemapclass{ padding:5px 0px;}
.sitemaplist .sitemapclass1{font-weight:bold; display:block; height:22px; line-height:22px; border-bottom:1px solid #ccc; padding-left:15px;}
.sitemaplist .sitemapclass1 a{ padding:2px 10px; background:#e6e6e6;}
.sitemaplist .sitemapclass2{ padding-left:15px; padding-top:3px;}
.sitemaplist .sitemapclass2 h3{ background:url(../index/dd.gif) no-repeat left center; padding-left:8px;}
.sitemaplist .sitemapclass2 h3 a{ color:#333;}
.sitemaplist .sitemapclass2 h4{ display:inline; padding:0px 6px;}
.sitemaplist .sitemapclass2 h4 a{ text-decoration:none; color:#4c992c;}

/*内页部分公共样式*/
.metjiathis{ position:relative; top:3px;}
.hits{ border-bottom:1px dotted #ccc; height:25px; line-height:25px; margin:5px 0px 0px; text-align:right;}
.page{ padding:2px 5px; text-align:center; line-height:1.5; color:#666;}
.page a{ color:#666;}
.page a:hover{ color:#466A86; text-decoration:none;}
.related{ height:27px; border-bottom:3px solid #008ce4; margin-top:8px;}
.related{ margin-top:10px;}
.related span{ float:left;  border:1px solid #008ce4; border-bottom:none; min-width:60px; padding:3px 15px 0px; height:23px; text-align:center; background:#008ce4; color:#fff; font-size:13px;}
.relatedlist{ border:1px solid #ccc; border-top:none; padding:5px; zoom:1;}
.relatedlist li{ float:left; width:30%; width:350px; margin-right:10px; height:22px; line-height:22px; padding-left:12px; background:url(../index/newsx.gif) no-repeat 3px 10px; overflow:hidden; }
.relatedlist li a:hover{ text-decoration:none; }

 



/*为什么选择我们*/
.whats_box .title02 { line-height: 20px; font-size: 30px; font-weight: bold; color:#009b4d;}
fieldset, img {border: 0;}
.whats_box li .title03 { font-size: 20px; font-weight: 200; color:#000000;}

/*新闻  问题 留言*/
.box_list1{} .box_list1 h3 a:hover{ text-decoration:none;}
.box_list1 dl{ float:left; width:320px; height:450px; padding-top:50px;}
.box_list1 dt{ background:url(../images/t_dt.gif) left bottom  no-repeat; float: left; width:320px; padding-bottom:10px;}
.box_list1 dt span{ color:#207ec8; font-size:20px; float:left; line-height:35px;}
.box_list1 dl.index_msg{ width:250px;}
.box_list1 dl.news_dl{ width:350px; padding-left:20px;}
.box_list1 dl.wt{ width:330px;}
.box_list1 dt h3{ font-size:20px; float:left;line-height:35px;}
.box_list1 dl dd{ clear:both; float:left; width:100%; padding-top:10px; padding-bottom:10px;}
.answer{ margin:10px 0px; border-bottom:1px dashed #d7d7d7; float:left;}
.answer .w,.answer .d{ padding:2px 0px;}
.answer .w a{ padding-left:10px;}
.answer .d span{ padding-left:10px;}
.answer_p{border-bottom:1px dashed #d7d7d7; height:1px; width:100%; padding-top:5px;}

/* quotation */
#quotation{width:320px;height:310px;overflow:hidden;margin:1px auto 0 auto;}
#quotation li{line-height:28px;padding-bottom:35px; clear:both; text-align:left;}
#quotation li .a-r{text-align:right;}
#quotation li span{color:#999;margin:0 0 0 10px;}



.box_list5{ background:url(../images/n_bg.gif) repeat; float:left; width:100%;}
.b{ background: url(../images/s08.gif) no-repeat left;}
.wt li a,.wt li span{ padding-left:20px;}
.index_news li{ line-height:25px; border-bottom:1px dotted #dedede; width:300px;}.index_news span{ padding-right:10px;}
.news_info{ clear:both; padding-bottom:15px; float:left;}.index_news{ clear:both;}
.news_info  .imgs{ float:left; width: 125px;}.news_info  .imgs img{ height:90px;border:1px dashed #dedede;}
.news_info  .n_con{ float:left; width:170px; padding-left:5px; }.news_info  .n_con p{   height:30px;
    margin: 3px 0 5px;
    overflow: hidden;}.news_info  .n_con h3{ font-size:13px; line-height:30px;}
.news_info  

.n_con span a{ color:#68b92e;}

.mForm{ padding-left:10px;}
.mForm li{ padding:5px;}
.mForm li input.finp {background: none repeat scroll 0 0 #fff; border: 1px  solid #dcdcdc; height: 19px; line-height: 18px; text-indent: 5px; width: 180px;}

#txtContent{ width:180px;background: none repeat scroll 0 0 #fff; border: 1px  solid #dcdcdc;}
#txtVerCode{ width:60px;  background: none repeat scroll 0 0 #fff; border: 1px  solid #dcdcdc;}
.mForm li input.validatec{ width:90px;  height: 21px;}


/*产品分类样式*/





































