@charset "utf-8";
/* CSS Document */
*{transition:all .5s;}

#bannerBox{width:100%; background:#c5ffdb; height: 520px;}
.bzSpan{ padding-top: 90px; width:1200px; margin:0 auto; position:relative; height:210px;z-index:9;}
.bzSpanbiao{ width:1200px; margin:0 auto; padding-top: 40px;}
.bzSpan .container{position:absolute; bottom:0px; left:50%; margin-left: -600px; height:270px; background:url(../images/bzbox.png) no-repeat center;}
.bzSpan .container dl{float:left; width:298px; text-align: center;}
.bzSpan .container dt{padding-top:40px; padding-bottom:30px;}
.bzSpan .container dl:hover dt img{transform:rotate(360deg) scale(1.2);
                  -moz-transform:rotate(360deg) scale(1.2);
                  -o-transform:rotate(360deg) scale(1.2);
                  -webkit-transform:rotate(360deg) scale(1.2);  *width:99px; *height:99px; *margin-top:10px; *margin-bottom:10px;}

.bzSpan .container dl{opacity:1; filter:alpha(opacity=100); background:#FFF; border:1PX #CCCCCC solid;}
.bzSpan .container dl:hover{opacity:1; filter:alpha(opacity=100);}
.bzSpan .container wz{ font-size:20px; color:#019638; font-weight:bold; padding-bottom:5px; border-bottom:3px #009900 solid;}
.bzSpan .container dd{ padding-top:20px; padding-bottom:20px; line-height: 26px; font-size:13px; color:#333;}

.xzSpan{height:762px; background:url(../images/xzspan.jpg) no-repeat center;}

.xqBox{width:560px;}
.xqBox h4{height:128px; overflow: hidden;}
.xqBox h4 img{margin-top:54px;}
.xqBox ul{}
.xqBox li{float: left; width:250px; height:300px; margin-right:60px;}
.xqBox li.noMr{margin-right:0px;}
.xqBox li img{padding:9px; border:1px solid #e1ddd5; background-color:#fff;}
.xqBox li h5{height:46px; line-height:46px; font-size:16px;}
.xqBox li h5 a{color:#844f08;}
.xqBox li p{padding-right:20px; margin-bottom:18px; line-height:24px; font-size:14px; height:48px; overflow: hidden;}
.xqBox li span{color:#9d620e;font-weight: bold;}

