#newBridge {
    font-family: Arial,Helvetica,"Microsoft YaHei",sans-serif;
    position: fixed;
    z-index: 2147483647;
}
#newBridge, #nbInviteWrapper, #nbWebImLightContainer, #newBridge ins, #nbInviteWrapper ins, #nbWebImLightContainer ins, #newBridge a, #nbInviteWrapper a, #nbWebImLightContainer a, #newBridge div, #nbInviteWrapper div, #nbWebImLightContainer div, #newBridge p, #nbInviteWrapper p, #nbWebImLightContainer p, #newBridge em, #nbInviteWrapper em, #nbWebImLightContainer em, #newBridge b, #nbInviteWrapper b, #nbWebImLightContainer b, #newBridge dd, #nbInviteWrapper dd, #nbWebImLightContainer dd, #newBridge dl, #nbInviteWrapper dl, #nbWebImLightContainer dl, #newBridge ul, #nbInviteWrapper ul, #nbWebImLightContainer ul, #newBridge li, #nbInviteWrapper li, #nbWebImLightContainer li, #newBridge i, #nbInviteWrapper i, #nbWebImLightContainer i, #newBridge h1, #nbInviteWrapper h1, #nbWebImLightContainer h1, #newBridge h2, #nbInviteWrapper h2, #nbWebImLightContainer h2, #newBridge h3, #nbInviteWrapper h3, #nbWebImLightContainer h3, #newBridge h4, #nbInviteWrapper h4, #nbWebImLightContainer h4, #newBridge h5, #nbInviteWrapper h5, #nbWebImLightContainer h5, #newBridge span, #nbInviteWrapper span, #nbWebImLightContainer span, #newBridge table, #nbInviteWrapper table, #nbWebImLightContainer table, #newBridge td, #nbInviteWrapper td, #nbWebImLightContainer td, #newBridge tr, #nbInviteWrapper tr, #nbWebImLightContainer tr, #newBridge tbody, #nbInviteWrapper tbody, #nbWebImLightContainer tbody, #newBridge thead, #nbInviteWrapper thead, #nbWebImLightContainer thead, #newBridge strong, #nbInviteWrapper strong, #nbWebImLightContainer strong, #newBridge u, #nbInviteWrapper u, #nbWebImLightContainer u, #newBridge img, #nbInviteWrapper img, #nbWebImLightContainer img, #newBridge font, #nbInviteWrapper font, #nbWebImLightContainer font, #newBridge select, #nbInviteWrapper select, #nbWebImLightContainer select, #newBridge option, #nbInviteWrapper option, #nbWebImLightContainer option, #newBridge input, #nbInviteWrapper input, #nbWebImLightContainer input, #newBridge form, #nbInviteWrapper form, #nbWebImLightContainer form, #newBridge textarea, #nbInviteWrapper textarea, #nbWebImLightContainer textarea {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-position: 0 0;
    background-size: auto;
    background-repeat: repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-attachment: scroll;
    background-image: none;
    border: none;
    outline: invert none medium;
    color: inherit;
    direction: ltr;
    letter-spacing: inherit;
    line-height: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    white-space: inherit;
    word-spacing: normal;
    font-size: 12px;
    font-family: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    visibility: visible;
    overflow: visible;
    list-style: none;
    float: none;
    clear: none;
    display: block;
    position: static;
    top: auto;
    left: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#newBridge, #nbInviteWrapper, #nbWebImLightContainer {
    color: #000;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
}
#newBridge .nb-show {
    display: block;
}
#newBridge .nb-nodeboard-left-bottom {
    left: 1px;
    bottom: 1px;
    top: auto;
    right: auto;
}
#newBridge .nb-nodeboard-position-base {
    position: fixed;
    _position: absolute;
}
#newBridge .nb-nodeboard-base {
    height: auto;
    width: 240px;
    border-radius: 3px;
    z-index: 1;
}
#newBridge ins {
    display: block;
    text-decoration: none;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base {
    color: #000;
    border-radius: 5px;
    background-color: #ededed;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-top {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    background-color: #00aef3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-top-0 {
    background-color: #00aef3;
}
#newBridge ins {
    display: block;
    text-decoration: none;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-head-title {
    float: left;
    font-size: 14px;
    color: #fff;
    margin-left: 12px;
    line-height: 35px;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-close {
    display: inline-block;
    float: right;
    height: 30px;
    width: 34px;
    margin-top: 2px;
    cursor: pointer;
    background: transparent url('../img/open.png') no-repeat;
   
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form {
    display: inline;
    background-color: #ededed;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-set {
    _margin-left: 20px;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-content {
    position: relative;
    width: 222px;
    margin: 7px auto 0;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-set-content {
    width: 212px;
    height: 79px;
    margin: 12px auto 7px;
    _margin: 12px 0 7px -10px;
    padding: 0 4px;
    resize: none;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    text-align: left;
    _line-height: 14px;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-name {
    height: 30px;
    width: 221px;
    line-height: 30px;
    margin: 7px auto 0;
    _margin: 7px 0 0 -10px;
    border: 1px solid #d5d5d5;
    position: relative;
    background-color: #fff;
    z-index: 4;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-icon {
    width: 35px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    vertical-align: top;
    border-right: 1px solid #fff;
}
#newBridge .nodeName {
    background: #fff url('../img/user.png') no-repeat 9px center;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-input {
    margin: 0;
    width: 140px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    border: none;
    display: inline-block;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-name {
    height: 30px;
    width: 221px;
    line-height: 30px;
    margin: 7px auto 0;
    _margin: 7px 0 0 -10px;
    border: 1px solid #d5d5d5;
    position: relative;
    background-color: #fff;
    z-index: 3;
}

#newBridge .nodePhone {
    background: #fff url('../img/nodephone.png') no-repeat 9px center;
}
#newBridge .nodeMail {
    background: #fff url('../img/nodemail.png') no-repeat 9px center;
}
#newBridge .nodeAddress {
    background: #fff url('../img/nodelocation.png') no-repeat 9px center;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-send {
    width: 202px;
    margin: 12px auto 0 10px;
    padding-bottom: 18px;
    _margin-left: 10px;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-send-btn {
    height: 35px;
    width: 90px;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background-color: #00aef3;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-success {
    display: none;
    height: 314px;
    background-color: #ededed;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-success-box {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -55px;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-success-icon {
    height: 72px;
    width: 80px;
    margin: 0 auto;
    background: #fff url(//sgoutong.baidu.com/embed/1543477248/asset/embed/css/pc/message/img/bridge.png) no-repeat center center;
    background-color: transparent;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-success-title {
    color: #333;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-success-content {
    color: #333;
    text-align: center;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-sucess-close {
    height: 30px;
    width: 90px;
    color: #fff;
    margin: 20px auto 0;
    background-color: #00aef3;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-max {
    background: transparent url('../img/close.png') no-repeat;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='//sgoutong.baidu.com/embed/1543477248/asset/embed/css/pc/nodeboard/img/nodeMax.png');
}
